<html>
  <head>
    <title>Fly With Me</title>
  </head>

  <body>
    <h1>Welcome to {{ title }}</h1>

    <p>This is the team 2 class project for BU MET CS673.</p>
    <p>{{ user.first_name}} {{ user.last_name }} is a user from the database. Check out app/templates/index.html to see the template tags used to display the user.first_name and user.last_name. See the app/routes.py file to see the database query and dictionary we use to deliver this data to the frontend.</p>

    <p>A brief word about infrastructure- maybe we want to build an API. Without building an API we may be unable to use a framework like React or Angular. Vanilla Javascript (not framework-associated js) is not commonly written. We should weigh this decision carefully.</p>
  </body>
</html>
